node-red-simulated-nodes/node-red-TB-TLS-example.json
[{"id":"ca19230a.a53f3","type":"tab","label":"TLS-Flow-TB","disabled":false,"info":""},{"id":"575a15dc.9afdec","type":"mqtt out","z":"ca19230a.a53f3","name":"dev-02-TLS@192.168.1.110","topic":"","qos":"","retain":"","broker":"a2f77ef1.37e41","x":900,"y":460,"wires":[]},{"id":"cc642258.b6542","type":"inject","z":"ca19230a.a53f3","name":"Telemetry Timestamp","topic":"v1/devices/me/telemetry","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":460,"wires":[["507fc597.32ffac"]]},{"id":"507fc597.32ffac","type":"function","z":"ca19230a.a53f3","name":"Random Volt, Current","func":"var maxV = 250, minV = 210, maxI = 15, minI = 10;\nvar ts = msg.payload; //get timestamp from inject node\n\nfunction randomBetween(max,min) //frame random voltage and current\n{\n   return (Math.floor(Math.random() * (max - min + 1) + min));\n}\n\nvolt = randomBetween(maxV,minV);\ncurrent = randomBetween(maxI,minI);\n\n/*Frame the complete message*/\n\n//msg.payload = {\"volt\": volt, \"current\": current};\nmsg.payload = {\"ts\":ts, \"values\":{\"volt\": volt, \"current\": current}};\n//msg.payload = {\"ts\":1629489655000, \"values\":{\"power\": 123}};\n//msg.payload = {\"data\": \"1250480989986452524564\"};\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":460,"wires":[["575a15dc.9afdec","198a470c.0a5369"]]},{"id":"198a470c.0a5369","type":"debug","z":"ca19230a.a53f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":380,"wires":[]},{"id":"997027a1.719358","type":"mqtt out","z":"ca19230a.a53f3","name":"dev-01-noTLS@192.168.1.110","topic":"","qos":"","retain":"","broker":"f158c541.4c3a88","x":890,"y":200,"wires":[]},{"id":"20b4b741.7c7aa8","type":"inject","z":"ca19230a.a53f3","name":"Telemetry Timestamp","topic":"v1/devices/me/telemetry","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":200,"wires":[["8b72ce65.e092"]]},{"id":"8b72ce65.e092","type":"function","z":"ca19230a.a53f3","name":"Random Volt, Current","func":"var maxV = 250, minV = 210, maxI = 15, minI = 10;\nvar ts = msg.payload; //get timestamp from inject node\n\nfunction randomBetween(max,min) //frame random voltage and current\n{\n   return (Math.floor(Math.random() * (max - min + 1) + min));\n}\n\nvolt = randomBetween(maxV,minV);\ncurrent = randomBetween(maxI,minI);\n\n/*Frame the complete message*/\n\n//msg.payload = {\"volt\": volt, \"current\": current};\nmsg.payload = {\"ts\":ts, \"values\":{\"volt\": volt, \"current\": current}};\n//msg.payload = {\"ts\":1629489655000, \"values\":{\"power\": 123}};\n//msg.payload = {\"data\": \"1250480989986452524564\"};\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":200,"wires":[["997027a1.719358","575419f9.cd1618"]]},{"id":"575419f9.cd1618","type":"debug","z":"ca19230a.a53f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":120,"wires":[]},{"id":"a2f77ef1.37e41","type":"mqtt-broker","z":"","name":"dev-02@192.168.1.110","broker":"192.168.1.110","port":"8883","tls":"5d990399.329d1c","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f158c541.4c3a88","type":"mqtt-broker","z":"","name":"dev-01@192.168.1.110","broker":"192.168.1.110","port":"8099","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5d990399.329d1c","type":"tls-config","z":"","name":"dev02-tls-x509-test","cert":"/home/sivakumar/keys/cert.pem","key":"/home/sivakumar/keys/key.pem","ca":"/home/sivakumar/keys/server.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]